* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

.slider {
    width: 100%;
    height: 600px;
    background-image: url(../images/teapot-with-dates-fruit-spices-nuts.jpg);
    background-size: cover;
    filter: grayscale(20%);
    position: relative;
}

.logo a {
    font-size: medium;
}


a {
    text-decoration: none;
}

header {
    color: #fff;
    padding: 15px 0;
    /* background-color: #1a1a1a68; */

}

header nav {
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

header a {
    color: #000;
    font-weight: bold;
    font-size: small;
}

header .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header .menu ul li {
    display: inline-block;
    margin: 0 20px;
}

li a:hover {
    color: #63935c;

}


.res a {
    background-color: #63935c;
    color: white;
    padding: 12px;
    font-weight: normal;
    transition: all .4s ease;
}

.ress a {
    color: #63935c;
}

.res a:hover {
    background-color: #232323;
    color: white;
}

.word {
    width: 400px;
    color: #616161a6;
    position: absolute;
    right: 80px;
    bottom: 200px;
    font-size: large;
}

.res1 {
    border: 3px solid #63935c;
    padding: 5px;
    border-radius: 5px;
    color: #232323;
    background-color: #a4bca1;

}

.services {
    padding: 60px 0;
}

.service-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.service-box .image {
    width: 40%;
}

.service-box .image img {
    width: 100%;
    border-radius: 50%;
}

.service-box .text {
    width: 40%;
}

.service-box .text h3 {
    font-size: 32px;
    margin-top: 0;
}

.service-box .text p {
    font-size: 20px;
}

h5 {
    color: #bdbdbd;
}

.team {
    background: #f9f9f9;
    padding: 60px 0;
}

.persons {
    display: flex;
    justify-content: space-between;
}

.persons .person {
    width: 33.333%;
    text-align: center;
    background: #f9f9f9;
    padding: 30px;
}

.persons .person h4 {
    margin-bottom: 0;
    text-align: center;
}

.persons .person img {
    width: 400px;
    height: 400px;
}

.chef {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.job {
    color: #bdbdbd;
    font-size: small;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.about {
    background-image: url(../images/Screenshot\ 2022-07-29\ 224232.png);
    width: 100%;
    height: 300px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    padding: 50px 0;
}

.about h2 {
    margin-top: auto;
    color: #63935c;
}

.p {
    font-size: 15px;
    color: #232323;
    font-weight: 500;
}

textarea {
    resize: none;
    width: 355px;
}

.send {
    background-color: #63935c;
    color: white;
    padding: 12px;
    font-weight: normal;
    width: 355px;
    transition: all .4s ease;
    display: block;
    text-align: center;
    border-radius: 5px;
}



footer hr {
    border: 0;
    border-bottom: 1px solid #eae8e8;
    padding-bottom: 15px;
}

.top {
    width: 40px;
    height: 40px;
    background: #63935c;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 85456754854764466
}

.fa-solid fa-phone {
    background-color: #63935c;


}

footer {
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px 0;
}

h4 {
    text-align: center;
}

.social-share {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-share a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
    border-radius: 2px;
    border: 2px solid #63935c;
    background-color: #a4bca1;
}

footer p {
    padding-top: 15px;
    font-weight: 400;
    margin: 0;
}

footer a {
    color: #63935c;
}